{% extends 'lims/base.html' %}

{% block title %}Log in{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
{% endblock %}

{% block body_attrs %} class="login"{% endblock %}

{% block content_title_tag %}{% endblock %}

{% block content_tag %}

    <div id="content" class="colM">

        <form action="{{ view.request.get_full_path }}" method="post" id="login-form">

            {% csrf_token %}

            <table id="login-form-table">
                {{ form.as_table }}
            </table>

            <p>Forgot password? Contact the site administrator.</p>

            <input title="Log in" type="submit" value="Log in" />

        </form>

    </div>

{% endblock %}

{% block content_related_tag %}{% endblock %}
