<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | LIMS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'lims/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lims/css/print.css' %}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body{% block body_attrs %}{% endblock %}>
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'lims:index' %}">LIMS</a></h1>
            </div>

            {% if view.request.user.pk %}
                <div id="header-nav-menu">
                    <ul>
                        <li>
                            <a href="{% url 'lims:sample_list' %}">Samples</a>
                        </li>
                        <li>
                            <a href="{% url 'lims:location_list' %}">Locations</a>
                        </li>
                        <li>
                            <a href="{% url 'lims:user_detail' view.request.user.pk %}">My</a>
                        </li>
                    </ul>
                </div>

                <div id="user-tools">
                    Welcome,
                    {% if view.request.user.first_name %}
                        <strong>{{ view.request.user.first_name }}</strong>.
                    {% else %}
                        <strong>{{ view.request.user.username }}</strong>.
                    {% endif %}
                    {% if view.request.user.is_staff %}
                        <a href="{% url 'admin:index' %}">Admin</a> /
                    {% endif %}
                    <a href="{% url 'lims:account' %}">Account</a> /
                    <a href="{% url 'lims:logout' %}">Logout</a>
                </div>

            {% endif %}
        </div>
        {% block content_tag %}
        <div id="content" class="flex">
            {% block content_title_tag %}<h1>{% block content_title %}{% endblock %}</h1>{% endblock %}
            {% block content_main_tag %}
            <div id="content-main">
                {% block object_tools %}{% endblock %}
                {% block content_main %}{% endblock %}
            </div>
            {% endblock %}

            {% block content_related_tag %}
            {% endblock %}
            <br class="clear"/>
        </div>
        {% endblock %}
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>

{% block scripts %}
    <script src="{% static 'lims/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'lims/js/utils.js' %}"></script>
{% endblock %}

</body>
</html>
