
{{ form.non_field_errors }}

<div>
    <fieldset class="module aligned">
        {% for field in form %}
            <div class="form-row field-{{ field.name }}">
                <div>
                    {{ field.errors }}
                    {% if field.field.required %}
                        <label class="required" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% else %}
                        <label for="{{ field.name }}">{{ field.label }}</label>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </fieldset>
</div>
