
{% extends "lims/location_form.html" %}

{% block title %}Update {{ location.name }}{% endblock %}

{% block content_title %}Update {{ location.name }}{% endblock %}

{% block submit_text %}Update Location{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_location_change' location.pk %}">admin</a></li>
        {% endif %}
        <li><a href="{% url 'lims:location_detail' location.pk %}">View Location</a></li>
    </ul>
{% endblock %}
