{% extends "lims/base.html" %}

{% block title %}Locations{% endblock %}

{% block content_title %}Recent Locations{% endblock %}

{% block content_main %}
    <div id="viewlist">
        <div id="toolbar">
            <div>
                <form id="object-list-search">
                    <input id="searchbar" size="40" name="q" value="{{ view.request.GET.q }}" type="text"/>
                    <input value="Search" type="Submit"/>
                </form>
            </div>
        </div>

    {% if object_list %}

       {% load lims_extras %}

        {% pagination view page_obj %}

        <table class="object-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>User</th>
                    <th>Modified</th>
                    <th>Location</th>
                    <th>Tags</th>
                </tr>
            </thead>
        
        {% for location in object_list %}

            <tr>
                <td>
                    <a href="{% url 'lims:location_detail' location.pk %}">{{ location.name }}</a>
                </td>
                <td>{% if location.user %}{{ location.user }}{% endif %}</td>
                <td>{{ location.modified }}</td>
                <td>
                    {% for tag in location.tags.all %}
                      {{ tag }} <br/>
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}

        </table>

        {% pagination view page_obj %}

    {% else %}

        <p>No locations are available.</p>

    {% endif %}

    </div>

{% endblock %}


{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li><a href="{% url 'lims:location_add' %}">Add Location</a></li>
        </ul>
    </div>

    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:lims_location_changelist' %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
