{% extends "lims/object_detail_tables.html" %}

{% block title %}{{ location.name }}{% endblock %}

{% block breadcrumbs %}
    &rsaquo; <a href="{% url 'lims:project_location_list' project.pk %}">Locations</a>
    &rsaquo; {{ location.get_link }}
{% endblock %}

{% block content_title %}Location: {{ location.name }}{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_location_change' location.pk %}">Admin</a></li>
        {% endif %}
        <li><a href="{% url 'lims:location_change' location.pk %}">Update</a></li>
        <li><a href="{% url 'lims:item_action' 'location' location.pk 'delete' %}">Delete</a></li>
        <li><a class="addlink" href="{% url 'lims:location_add' project.pk %}">New</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <table class="object-info">
        <tr>
            <th>Project</th>
            <td>{{ location.project.get_link }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ location.name }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>
                {% if location.user %}
                    <a href="{% url 'lims:project_user_detail' location.project.pk location.user.pk %}">{{ location.user }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Identifier</th>
            <td>{{ location.slug }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ location.description|linebreaksbr|default:'(none provided)' }}</td>
        </tr>
        <tr>
            <th>Parent Location</th>
            <td>
                {% if location.parent %}
                    <a href="{% url 'lims:location_detail' location.parent.pk %}">{{ location.parent }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Geometry</th>
            <td>
                {% if location.geometry %}
                    {{ location.geometry|truncatechars:100 }}
                {% else %}
                    (No geometry provided)
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Tags</th>
            <td></td>
        </tr>
        {% if location.tags.all %}
            {% for tag in location.tags.all %}
                <tr>
                    <td>
                        <a href="{% url 'lims:term_detail' tag.key.pk %}" title="{{ tag.key }}">
                            {{ tag.key|truncatechars:20 }}
                        </a>
                    </td>
                    <td>{{ tag.value|truncatechars:250|linebreaksbr }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td>(none specified)</td><td></td></tr>
        {% endif %}
        <tr>
            <th>Date Modified (Created)</th>
            <td>{{ location.modified }} ({{ location.created }})</td>
        </tr>
    </table>

    {{ block.super }}

{% endblock %}

{% block location_heading %}Sub Locations{% endblock %}
