
{% extends "lims/base.html" %}

{% block title %}New Location{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content_title %}New Location{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_location_add' %}">admin</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content_main %}

    <div id="add-form-container">
        <form id="add-form" action="" method="post">
            {% csrf_token %}

            {% include 'lims/form_div.html' with form=form %}

            <input type="submit" value="{% block submit_text %}Create Location{% endblock %}" />
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'lims/js/object_form.js' %}"></script>
{% endblock %}
