{% extends "lims/base.html" %}

{% block title %}{{ location.name }}{% endblock %}

{% block content_title %}Location: {{ location.name }}{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_location_change' location.pk %}">Admin View</a></li>
        {% endif %}
        <li><a href="{% url 'lims:location_change' location.pk %}">Update Location</a></li>
        <li><a href="{% url 'lims:location_item_action' location.pk 'delete-locations' %}">Delete Location</a></li>
        <li><a class="addlink" href="{% url 'lims:location_add' %}">Add Location</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <table class="object-info">
        <tr>
            <th>Identifier</th>
            <td>{{ location.slug }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ location.description|linebreaksbr|default:'(none provided)' }}</td>
        </tr>
        <tr>
            <th>Parent Location</th>
            <td>
                {% if location.parent %}
                    <a href="{% url 'lims:location_detail' location.parent.pk %}">{{ location.parent }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>User</th>
            <td>
                {% if location.user %}
                    <a href="{% url 'lims:user_detail' location.user.pk %}">{{ location.user }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date Modified (Created)</th>
            <td>{{ location.modified }} ({{ location.created }})</td>
        </tr>
        <tr>
            <th>Geometry</th>
            <td>
                {% if location.geometry %}
                    {{ location.geometry|truncatechars:100 }}
                {% else %}
                    (No geometry provided)
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Tags</th>
            <td></td>
        </tr>
        {% if location.tags.all %}
            {% for tag in location.tags.all %}
                <tr><td>{{ tag.key }}</td><td>{{ tag.value }}</td></tr>
            {% endfor %}
        {% else %}
            <tr><td>(none specified)</td><td></td></tr>
        {% endif %}
    </table>

    <h2><a id="locations">Sub-locations</a></h2>

    {% include 'lims/tables/location_table.html' with page_obj=location_page_obj page_kwarg=location_page_kwarg actions=location_actions %}

    <h2><a id="samples">Recent Samples</a></h2>

    {% include 'lims/tables/sample_table.html' with page_obj=sample_page_obj page_kwarg=sample_page_kwarg actions=sample_actions %}

{% endblock %}
