{% extends "lims/base.html" %}

{% block title %}Locations{% endblock %}

{% block content_title %}Recent Locations{% endblock %}

{% block content_main %}
    <div id="viewlist">
        <div id="toolbar">
            <div>
                <form id="object-list-search">
                    <input id="searchbar" size="40" name="location_q" value="{{ view.request.GET.location_q }}" type="text"/>
                    <input value="Search" type="Submit"/>
                </form>
            </div>
        </div>

    {% include 'lims/location_table.html' %}

    </div>

{% endblock %}


{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li><a href="{% url 'lims:location_add' %}">Add Location</a></li>
        </ul>
    </div>

    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:lims_location_changelist' %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
