
{% extends "lims/location_form.html" %}

{% block title %}Update {{ location.name }}{% endblock %}

{% block content_title %}Update {{ location.name }}{% endblock %}

{% block submit_text %}Update Location{% endblock %}

{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li><a href="{% url 'lims:location_detail' location.pk %}">View Location</a></li>
        </ul>
    </div>
    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:lims_location_change' location.pk %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}

