
<div class="object-list-container">

{% if page_obj %}

    {% block objects %}

        {% load lims_extras %}

        {% block pagination_top %}
            {% if page_obj.paginator.num_pages > 1 %}
                <p class="paginator">
                    {% block page_list_top %}
                        {% pagination view page_obj page_kwarg %}
                    {% endblock %}
                </p>
            {% endif %}
        {% endblock %}

        {% block objects_table %}{% endblock objects_table %}

        {% block pagination_bottom %}
            {% if page_obj.paginator.num_pages > 1 %}
                <p class="paginator">
                    {% block page_list_bottom %}
                        {% pagination view page_obj page_kwarg %}
                    {% endblock %}
                </p>
            {% endif %}
        {% endblock %}

    {% endblock objects %}

{% else %}

    {% block no_objects %}

        <p>No objects are available.</p>

    {% endblock %}

{% endif %}

</div>