
{% if page_obj %}

    {% block objects %}

        {% load lims_extras %}

        {% block pagination_top %}
            {% if page_obj.paginator.num_pages > 1 %}
                <p class="paginator">
                    {% block page_list_top %}
                        {% pagination view page_obj page_kwarg %}
                    {% endblock %}
                </p>
            {% endif %}
        {% endblock %}

        {% block objects_table %}

            <form id="viewlist-form" method="post">
                <table class="object-list">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="select-objects-all"/></th>
                            <th>Object string</th>
                        </tr>
                    </thead>

                {% for object in page_obj %}
                    <tr>
                        <td><input type="checkbox" name="select-object-{{ object.pk }}"></td>
                        <td>
                            {% if object.get_absolute_url %}
                                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                            {% else %}
                                {{ object }}
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

                </table>
            </form>

        {% endblock objects_table %}

        {% block pagination_bottom %}
            {% if page_obj.paginator.num_pages > 1 %}
                <p class="paginator">
                    {% block page_list_bottom %}
                        {% pagination view page_obj page_kwarg %}
                    {% endblock %}
                </p>
            {% endif %}
        {% endblock %}

    {% endblock objects %}

{% else %}

    {% block no_objects %}

        <p>No objects are available.</p>

    {% endblock %}

{% endif %}
