
{% extends "lims/base.html" %}

{% block title %}Bulk Add New Samples{% endblock %}

{% block content_title %}Bulk Add New Samples{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_sample_add' %}">Admin</a></li>
        {% endif %}
        <li><a class="addlink" href="{% url 'lims:sample_add_bulk' %}">Bulk</a></li>
        <li><a class="addlink" href="{% url 'lims:sample_add' %}">New</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <div id="add-formset-container">
        <form id="add-formset-form" action="" method="post">
            {% csrf_token %}
            {{ form.management_form }}
            <div id="add-formset-table-container">
            <ul id="add-formset-list">
            <li class="add-formset-item">
                <ul class="add-formset-fieldlist" id="add-formset-header">
                    {% for field in form.0 %}
                        {% if not field.is_hidden %}
                            <li>
                            {% if field.field.required %}
                                <label class="required" for="{{ field.id_for_label }}" title="{{ field.help_text }}">{{ field.label }}</label>
                            {% else %}
                                <label for="{{ field.name }}" title="{{ field.help_text }}">{{ field.label }}</label>
                            {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="add-formset-item">
                <ul class="add-formset-fieldlist" id="add-formset-tools">
                    {% for field in form.0 %}
                        {% if not field.is_hidden %}
                            <li>
                                {% if field.name == 'collected' %}
                                    <a href="#" id="{{ field.name }}-today">Today</a> /
                                {% endif %}
                                <a href="#" id="{{ field.name }}-fill">Fill down</a> /
                                <a href="#" id="{{ field.name }}-clear">Clear</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
                {% for sub_form in form %}
                    <li class="add-formset-item">
                        <ul class="add-formset-fieldlist">
                            {{ sub_form.as_ul }}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            </div>
            <p>
                Add <input name="add-formset-more-number" id="add-formset-more-number" type="text" size="2" title="Add" value="1"/> more forms
                <a href="#" id="add-formset-more-go">Go</a>
            </p>
        <input type="submit" value="{% block submit_text %}Add samples{% endblock %}" />
        </form>
    </div>

{% endblock %}
