{% extends "lims/base.html" %}

{% block title %}View {{ sample.slug }}{% endblock %}

{% block content_title %}View Sample{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_sample_change' sample.pk %}">Admin View</a></li>
        {% endif %}
        <li><a href="{% url 'lims:sample_change' sample.pk %}">Update Sample</a></li>
        <li><a href="{% url 'lims:sample_item_action' sample.pk 'delete-samples' %}">Delete Sample</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <table class="object-info">
        <tr>
            <th>Sample ID</th>
            <td>{{ sample.slug }}</td>
        </tr>
        <tr>
            <th>Sample Name</th>
            <td>{{ sample.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ sample.description|linebreaksbr|default:'(none provided)' }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>
                {% if sample.user %}
                    <a href="{% url 'lims:user_detail' sample.user.pk %}">{{ sample.user }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {% if sample.location %}
                    <a href="{% url 'lims:location_detail' sample.location.pk%}">{{ sample.location }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Collected Date</th>
            <td>{{ sample.collected }}</td>
        </tr>
        <tr>
            <th>Date Modified (Created)</th>
            <td>{{ sample.modified }} ({{ sample.created }})</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td></td>
        </tr>
        {% if sample.tags.all %}
            {% for tag in sample.tags.all %}
                <tr><td>{{ tag.key }}</td><td>{{ tag.value }}</td></tr>
            {% endfor %}
        {% else %}
            <tr><td>(none specified)</td><td></td></tr>
        {% endif %}
    </table>

{% endblock %}
