
{% extends "lims/base.html" %}

{% block title %}Bulk Add New Samples{% endblock %}

{% block content_title %}Bulk Add New Samples{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_sample_add' %}">Admin View</a></li>
        {% endif %}
        <li><a class="addlink" href="{% url 'lims:sample_add' %}">Add Sample</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <div id="add-formset-container">
        <form id="add-formset-form" action="" method="post">
            {% csrf_token %}
            {{ form.management_form }}
            <ul id="add-formset-list">
            <li class="add-formset-item">
                <ul class="add-formset-fieldlist" id="add-formset-header">
                    {% for field in form.0 %}
                        {% if not field.is_hidden %}
                            <li>{{ field.label_tag }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="add-formset-item">
                <ul class="add-formset-fieldlist" id="add-formset-tools">
                    <li>
                        <a href="#" id="collected-today">Today</a> /
                        <a href="#" id="collected-fill">Fill down</a> /
                        <a href="#" id="collected-clear">Clear</a>
                    </li>
                    <li>
                        <a href="#" id="name-fill">Fill down</a> /
                        <a href="#" id="name-clear">Clear</a>
                    </li>
                    <li>
                        <a href="#" id="description-fill">Fill down</a> /
                        <a href="#" id="description-clear">Clear</a>
                    </li>
                    <li>
                        <a href="#" id="location_slug-fill">Fill down</a> /
                        <a href="#" id="location_slug-clear">Clear</a>
                    </li>
                    <li>
                        <a href="#" id="tag_json-fill">Fill down</a> /
                        <a href="#" id="tag_json-clear">Clear</a>
                    </li>
                </ul>
            </li>
                {% for sub_form in form %}
                    <li class="add-formset-item">
                        <ul class="add-formset-fieldlist">
                            {{ sub_form.as_ul }}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <p>
                Add <input id="add-formset-more-number" type="text" size="2" title="Add" value="1"/> more forms
                <button id="add-formset-more-go">Go</button>
            </p>
        <input type="submit" value="Add samples" />
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'lims/js/sample_bulk_form.js' %}"></script>
{% endblock %}
