
{% extends "lims/base.html" %}

{% block title %}Bulk Add New Samples{% endblock %}

{% block content_title %}Bulk Add New Samples{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_sample_add' %}">Admin View</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content_main %}

    <div id="add-formset-container">
        <form id="add-formset-form" action="" method="post">
            {% csrf_token %}
            {{ form.management_form }}
            <ul id="add-formset-list">
            <li class="add-formset-item">
                <ul class="add-formset-fieldlist" id="add-formset-header">
                    <li>Collected Date</li>
                    <li>Name</li>
                    <li>Description</li>
                    <li>Location ID</li>
                    <li>Tags</li>
                </ul>
            </li>
                {% for sub_form in form %}
                    <li class="add-formset-item">
                        <ul class="add-formset-fieldlist">
                            {{ sub_form.as_ul }}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        <input type="submit" value="Add samples" />
        </form>
    </div>

{% endblock %}
