
{% extends "lims/sample_form.html" %}

{% block title %}Update {{ sample.slug }}{% endblock %}

{% block content_title %}Update Sample{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_sample_change' sample.pk %}">Admin View</a></li>
        {% endif %}
        <li><a href="{% url 'lims:sample_detail' sample.pk %}">View Sample</a></li>
    </ul>
{% endblock %}

{% block submit_text %}Update Sample{% endblock %}
