
{% extends "lims/base.html" %}

{% block title %}Add New Sample{% endblock %}

{% block content_title %}Add New Sample{% endblock %}

{% block content_main %}

    <div id="add-form-container">
        <form id="add-form" action="" method="post">
            {% csrf_token %}
            <table class="object-info">
                <tr>
                    <th>Sample ID</th>
                    <td>{{ sample.slug }}</td>
                </tr>
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% block submit_text %}Create Sample{% endblock %}" />
        </form>
    </div>

{% endblock %}

{% block content_related %}

    <div class="content-related-actions">
        <h3>User Actions</h3>
        <ul>
            <li>(None yet)</li>
        </ul>
    </div>
    <div class="content-related-actions">
        <h3>Admin Actions</h3>
        <ul>
            <li><a href="{% url 'admin:lims_sample_add' %}">Admin View</a></li>
        </ul>
    </div>

{% endblock %}
