
{% extends 'lims/tables/object_table.html' %}

{% block page_list_top %}{{ block.super }} {{ page_obj.paginator.count }} locations{% endblock %}

{% block page_list_bottom %}{{ block.super }} {{ page_obj.paginator.count }} locations{% endblock %}

{% block objects_table %}

    <form id="location-viewlist-form" method="post" action="{% url 'lims:location_action' %}?from={{ view.request.get_full_path|urlencode }}">

        {% csrf_token %}

        {% include 'lims/tables/object_table_actions.html' %}

        <table class="object-list">
            <thead>
                <tr>
                    <th>
                        <input title="Select all samples" type="checkbox" name="object-all-selected"/>
                    </th>
                    <th></th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Identifier</th>
                    <th>Description</th>
                    <th>Parent Location</th>
                    <th>Geometry</th>
                    <th>Tags</th>
                    <th>Modified</th>
                </tr>
            </thead>

            {% for location in page_obj %}

                <tr>
                    <td>{{ location.get_checkbox }}</td>
                    <td>
                        <a class="editlink" href="{% url 'lims:location_change' location.pk %}?from={{ view.request.get_full_path|urlencode }}">edit</a>
                    </td>
                    <td>{{ location.get_link }}</td>
                    <td>{% if location.user %}<a href="{% url 'lims:user_detail' location.user.pk %}">{{ location.user }}</a>{% endif %}</td>
                    <td>{{ location.slug }}</td>
                    <td>{{ location.description|truncatechars:20 }}</td>
                    <td>
                        {% if location.parent %}
                            {{ location.parent.get_link }}
                        {% endif %}
                    </td>
                    <td>{{ location.geometry|truncatechars:55 }}</td>
                    <td>{% include 'lims/tables/tag_summary.html' with tags=location.tags.all %}</td>
                    <td>{{ location.modified }}</td>
                </tr>

            {% endfor %}

        </table>

    </form>


{% endblock %}

{% block no_objects %}

    <p>No locations are available.</p>

{% endblock %}
