
{% extends 'lims/tables/object_table.html' %}

{% block page_list_top %}{{ block.super }} {{ page_obj.paginator.count }} samples{% endblock %}

{% block page_list_bottom %}{{ block.super }} {{ page_obj.paginator.count }} samples{% endblock %}

{% block objects_table %}

    <form id="sample-viewlist-form" method="post" action="{% url 'lims:sample_action' %}?from={{ view.request.get_full_path }}">

        {% csrf_token %}

        {% include 'lims/tables/object_table_actions.html' %}

        <table class="object-list">
            <thead>
                <tr>
                    <th>
                        <input title="Select all samples" type="checkbox" name="object-all-selected"/>
                    </th>
                    <th>Sample ID</th>
                    <th>User</th>
                    <th>Collected</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Tags</th>
                    <th>Modified</th>
                </tr>
            </thead>

            {% for sample in page_obj %}
                <tr>
                    <td>{{ sample.get_checkbox }}</td>
                    <td>{{ sample.get_link }}</td>
                    <td>{% if sample.user %}<a href="{% url 'lims:user_detail' sample.user.pk %}">{{ sample.user }}</a>{% endif %}</td>
                    <td>{{ sample.collected }}</td>
                    <td>{{ sample.name }}</td>
                    <td>{{ sample.description|truncatechars:55 }}</td>
                    <td>
                        {% if sample.location %}
                            {{ sample.location.get_link }}
                        {% endif %}
                    </td>
                    <td>{% include 'lims/tables/tag_summary.html' with tags=sample.tags.all %}</td>
                    <td>{{ sample.modified }}</td>
                </tr>

            {% endfor %}

        </table>
    </form>

{% endblock %}

{% block no_objects %}

    <p>No samples are available.</p>

{% endblock %}
