
<tr class="object-row-{{ sample.status }}" id="sample-row-{{ sample.pk }}">
    <td>{{ sample.get_checkbox }}</td>
    <td>
        <a class="editlink" href="{% url 'lims:sample_change' sample.pk %}?from={{ view.request.get_full_path|urlencode }}">edit</a>
    </td>
    {% if not project %}
    <td>{{ sample.project.get_link }}</td>
    {% endif %}
    <td>{{ sample.get_link }}</td>
    {% if project %}
    <td>{% if sample.user %}<a href="{% url 'lims:project_user_detail' project.pk sample.user.pk %}">{{ sample.user }}</a>{% endif %}</td>
    {% else %}
    <td>{% if sample.user %}<a href="{% url 'lims:user_detail' sample.user.pk %}">{{ sample.user }}</a>{% endif %}</td>
    {% endif %}
    <td>{{ sample.collected }}</td>
    <td>{{ sample.name }}</td>
    <td>{{ sample.status }}</td>
    <td>{{ sample.modified }}</td>
</tr>
