
{% extends 'lims/base.html' %}

{% block title %}Export Locations{% endblock %}

{% block content_title %}Export Locations{% endblock %}

{% block content_main %}

    <form action="" method="post">

        {% csrf_token %}

        {% if errors %}

            <ul class="errorlist">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>

        {% endif %}

        <p>Export {{ object_list.count }} item{{ object_list.count|pluralize }}?</p>

        <input type="submit" value="Export to CSV" />
    </form>

{% endblock %}
