
{% extends "lims/base.html" %}

{% block title %}Delete Samples{% endblock %}

{% block content_title %}Delete Samples?{% endblock %}

{% block content_main %}

    <div id="confirm-delete-container">

        <form action="" method="post">{% csrf_token %}

            {% if errors %}

                <ul class="errorlist">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

            {% endif %}

            <p>Are you sure you want to delete the following samples?</p>

            <ul>
                {% for sample in object_list %}
                    <li><a href="{{ sample.get_absolute_url }}">{{ sample }}</a></li>
                {% endfor %}
            </ul>
            <input type="submit" value="Confirm" />
        </form>

    </div>

{% endblock %}
