
{% extends 'lims/base.html' %}

{% block title %}Print Barcodes{% endblock %}

{% block breadcrumbs %}
    &rsaquo; {{ item_text|title }}s
    &rsaquo; {{ object_list.count }} Item{{ object_list.count|pluralize }}
    &rsaquo; {{ action_name|title }}
{% endblock %}

{% block content_title %}Print Barcodes{% endblock %}

{% block content_main %}

    <form action="" method="post">

        {% csrf_token %}

            {% if errors %}

                <ul class="errorlist">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

            {% endif %}

            <p>Are you sure you want to print barcodes for the following samples?</p>

            <p>
                Label Size:
                <span>
                    <input type="radio" name="label_size" id="id_form_label_size_small" value="small"/>
                        <label for="id_form_label_size">Small</label>
                </span>
                <span>
                    <input type="radio" name="label_size" id="id_form_label_size_medium" value="medium" checked="checked"/>
                        <label for="id_form_label_size">Medium</label>
                </span>
                <span>
                    <input type="radio" name="label_size" id="id_form_label_size_large" value="large"/>
                        <label for="id_form_label_size">Large</label>
                </span>
            </p>

            <div id="qrcode-table">
                {% for sample in object_list %}
                <a href="{% url 'lims:sample_detail' sample.pk %}">
                    {{ sample.get_qrcode_html }}
                </a>
                {% endfor %}
            </div>

            <input id="print-barcodes-submit" type="submit" value="Print Barcodes" />
        </form>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'lims/js/sample_print_barcode.js' %}"></script>
{% endblock %}