
/*
    LIMS styles (adds to the admin app base.css stylesheet)
*/

#header-nav-menu {
    float: left;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

#header-nav-menu ul, #header-nav-menu li {
	padding-left:0;
    list-style: none;
    display: inline;
}

#header-nav-menu li {
    margin-right: 10px;
}

/* Search form styles above the viewlist */

#viewlist #toolbar {
	padding: 8px 10px;
	margin-bottom: 15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #f8f8f8;
	color: #666;
}

#viewlist #toolbar form #searchbar {
	height: 19px;
	border: 1px solid #ccc;
	padding: 2px 5px;
	margin: 0;
	vertical-align: top;
	font-size: 13px;
}

#viewlist #toolbar form #searchbar:focus {
	border-color: #999;
}

#viewlist #toolbar form input {
	border-radius: 4px;
	font-size: 14px;
	padding: 5px;
	color: #333;
}

#viewlist #toolbar form input[type="submit"] {
	border: 1px solid #ccc;
	padding: 2px 10px;
	margin: 0;
	vertical-align: middle;
	background: #fff;
	box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
	cursor: pointer;
	color: #333;
}

#viewlist #toolbar label img {
	vertical-align: middle;
	margin-right: 4px;
}

.object-list-container .actions {
	padding: 10px;
	background: #fff;
	border-top: none;
	border-bottom: none;
	line-height: 24px;
	color: #999;
}

.object-list-container .actions select:focus {
	border-color: #999;
}

.object-list-container .actions label {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
}

.object-list-container .actions select {
	vertical-align: top;
	height: 24px;
	background: none;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	padding: 0 0 0 4px;
	margin: 0;
	margin-left: 10px;
}

.object-list-container .actions .button {
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
	cursor: pointer;
	height: 24px;
	line-height: 1;
	padding: 4px 8px;
	margin: 0;
	color: #333;
}

/* Set additional styles for the object list */

#viewlist-form, .object-list {
    width: 100%
}


/* Pagination style */

.paginator {
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	margin: 0;
	border-top: 1px solid #ddd;
}

#viewlist .paginator {
	color: #666;
	border-bottom: 1px solid #eee;
	background: #fff;
	overflow: hidden;
}

.paginator .this-page {
	padding: 2px 6px;
	font-weight: bold;
	font-size: 13px;
	vertical-align: top;
}

.paginator a:link, .paginator a:visited {
	padding: 2px 6px;
	background: #79aec8;
	text-decoration: none;
	color: #fff;
}

/* Add form styles */

#add-formset-list, .add-formset-fieldlist {
    padding-left: 0;
}

#add-formset-list {
    display:table;
}

.add-formset-item {
    display: table-row-group;
}

.add-formset-fieldlist {
    display: table-row;
}

.add-formset-fieldlist li {
    display: table-cell;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
}

#add-formset-header li {
    text-align: left;
    font-weight: bold;
    padding-bottom: 2px;
}

#add-formset-list label {
    display:none;
}


/* additional login styles */

#login-form-table th {
    vertical-align: middle;
}
