{% extends "lims/detail/object_detail_tables.html" %}

{% block title %}View {{ sample.slug }}{% endblock %}

{% block content_title %}View Sample{% endblock %}

{% block breadcrumbs %}
    &rsaquo; <a href="{% url 'lims:project_sample_list' project.pk %}">Samples</a>
    &rsaquo; {{ sample.get_link }}
{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_sample_change' sample.pk %}">admin</a></li>
        {% endif %}
        <li><a href="{% url 'lims:sample_change' sample.pk %}">Update</a></li>
        <li><a href="{% url 'lims:item_action' 'sample' sample.pk 'delete' %}">Delete</a></li>
        <li><a class="addlink" href="{% url 'lims:sample_add' project.pk %}">New</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <table class="object-info">
        <tr>
            <th>Project</th>
            <td>{{ sample.project.get_link }}</td>
        </tr>
        <tr>
            <th>Sample ID</th>
            <td>{{ sample.slug }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>
                {% if sample.user %}
                    <a href="{% url 'lims:project_user_detail' sample.project.pk sample.user.pk %}">{{ sample.user }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Collected Date</th>
            <td>{{ sample.collected }}</td>
        </tr>
        <tr>
            <th>Sample Name</th>
            <td>{{ sample.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ sample.description|linebreaksbr|default:'(none provided)' }}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td></td>
        </tr>
        {% if sample.tags.all %}
            {% for tag in sample.tags.all %}
                <tr>
                    <td>
                        <a href="{% url 'lims:term_detail' tag.key.pk %}" title="{{ tag.key }}">
                            {{ tag.key|truncatechars:20 }}
                        </a>
                    </td>
                    <td>{{ tag.value|truncatechars:250|linebreaksbr }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td>(none specified)</td><td></td></tr>
        {% endif %}
        <tr>
            <th>Geometry</th>
            <td>
                {% if sample.geometry %}
                    {{ sample.geometry|truncatechars:100 }}
                {% else %}
                    (No geometry provided)
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Parent Sample</th>
            <td>{{ sample.parent.get_link }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {% if sample.location %}
                    <a href="{% url 'lims:location_detail' sample.location.pk%}">{{ sample.location }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{{ sample.published }}</td>
        </tr>
        <tr>
            <th>Date Modified (Created)</th>
            <td>{{ sample.modified }} ({{ sample.created }})</td>
        </tr>
    </table>

    {{ block.super }}

{% endblock %}

{% block sample_heading %}Subsamples{% endblock %}
