
{% extends "lims/base.html" %}

{% block title %}Term: {{ term.name }}{% endblock %}

{% block breadcrumbs %}
    {% if project %}
        &rsaquo; <a href="{% url 'lims:project_term_list' project.pk %}">Terms</a>
    {% else %}
        &rsaquo; <a href="{% url 'lims:term_list' %}">Terms</a>
    {% endif %}
    &rsaquo; {{ term.get_link }}
{% endblock %}

{% block content_title %}Term: {{ term.name }}{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_term_change' term.pk %}">admin</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content_main %}

    {% for model, dv in value_dvs.items %}
        {% if dv.page %}
            <h2>{{ model }}{{ dv.page|length|pluralize }}</h2>
            {{ dv }}
        {% endif %}
    {% endfor %}

{% endblock %}
