
{% extends "lims/base.html" %}

{% block title %}Term: {{ term.name }}{% endblock %}

{% block breadcrumbs %}
    &rsaquo; Terms
    &rsaquo; {{ term.get_link }}
{% endblock %}

{% block content_title %}Term: {{ term.name }}{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_term_change' term.pk %}">admin</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content_main %}

    {% if sample_dv.page %}
    <h2><a id="samples">Recent Samples</a></h2>

    {{ sample_dv }}
    {% endif %}

{% endblock %}
