
{% extends "lims/detail/object_detail_tables.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block breadcrumbs %}
    &rsaquo; Users
    {% if project %}
        &rsaquo; <a href="{% url 'lims:project_user_detail' project.pk user.pk %}">{{ user.username }}</a>
    {% else %}
        &rsaquo; <a href="{% url 'lims:user_detail' user.pk %}">{{ user.username }}</a>
    {% endif %}
{% endblock %}

{% block content_title %}User: {{ user.username }}{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:auth_user_change' user.pk %}">admin</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content_main %}

    <table class="object-info">
        <tr>
            <th>Name</th>
            <td>
                {% if user.first_name or user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    (none specified)
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        </tr>
        <tr>
            <th>Joined</th>
            <td>{{ user.date_joined }}</td>
        </tr>
    </table>

    {{ block.super }}

{% endblock %}
