
{% extends "lims/base.html" %}

{% block title %}Add New Sample{% endblock %}

{% block breadcrumbs %}
    &rsaquo; <a href="{% url 'lims:project_sample_list' project.pk %}">Samples</a>
    &rsaquo; <a href="{% url 'lims:sample_add' project.pk %}">Add</a>
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content_title %}Add New Sample{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_sample_add' %}">admin</a></li>
        {% endif %}
        <li><a class="addlink" href="{% url 'lims:sample_add_bulk' project.pk %}">Bulk</a></li>
        <li><a class="addlink" href="{% url 'lims:sample_add' project.pk %}">Add</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <div id="add-form-container">
        <form id="add-form" action="" method="post">
            {% csrf_token %}
            {% include 'lims/forms/form_div.html' with form=form %}
            <input type="submit" value="{% block submit_text %}Create Sample{% endblock %}" />
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'lims/js/object_form.js' %}"></script>
{% endblock %}
