
{% extends 'lims/forms/sample_form.html' %}

{% block title %}{{ template }}{% endblock %}

{% block breadcrumbs %}
    &rsaquo; <a href="{% url 'lims:project_template_list' project.pk %}">Templates</a>
    &rsaquo; {{ template.get_link }}
    &rsaquo; Add
{% endblock %}

{% block content_title %}{{ template }}: New {{ template.model }}{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_sampleentrytemplate_change' template.pk %}">admin</a></li>
        {% endif %}
        <li><a class="addlink" href="{% url 'lims:template_bulk' template.pk %}">Bulk View</a></li>
    </ul>
{% endblock %}

{% block submit_text %}Create {{ template.model }}{% endblock %}
