{% extends "lims/base.html" %}

{% load static %}

{% block title %}Locations{% endblock %}

{% block content_title %}Recent Locations{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
            <li><a href="{% url 'admin:lims_location_changelist' %}">Admin View</a></li>
            <li><a class="addlink" href="{% url 'lims:location_add' %}">Add Location</a></li>
        {% endif %}
    </ul>
{% endblock %}


{% block content_main %}

    <div id="viewlist">
        <div id="toolbar">
            <div>
                <form id="object-list-search">
                    <label for="searchbar">
                        <img src="{% static 'admin/img/search.svg' %}"/>
                    </label>
                    <input id="searchbar" name="location_q" value="{{ view.request.GET.location_q }}" type="text"/>
                    <input value="Search" type="Submit"/>
                </form>
            </div>
        </div>

    {% include 'lims/tables/location_table.html' %}

    </div>

{% endblock %}
