
{% extends 'lims/base.html' %}

{% block title %}Projects{% endblock %}

{% block content_title %}Projects{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_project_changelist' %}">Admin</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content_main %}

    {{ dv }}


{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'lims/js/data_view.js' %}"></script>
{% endblock %}
