{% extends "lims/base.html" %}

{% load static %}

{% block title %}Samples{% endblock %}

{% block breadcrumbs %}
    {% if project %}
        &rsaquo; <a href="{% url 'lims:project_sample_list' project.pk %}">Samples</a>
    {% else %}
        &rsaquo; <a href="{% url 'lims:sample_list' %}">Samples</a>
    {% endif %}
{% endblock %}

{% block content_title %}Recent Samples{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_sample_changelist' %}">admin</a></li>
        {% endif %}
        {% if project %}
            <li><a class="addlink" href="{% url 'lims:sample_add_bulk' project.pk %}">Bulk</a></li>
            <li><a class="addlink" href="{% url 'lims:sample_add' project.pk %}">New</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content_main %}

    <div id="viewlist">
        <div id="toolbar">
            <div>
                <form id="object-list-search">
                    <label for="searchbar">
                        <img src="{% static 'admin/img/search.svg' %}"/>
                    </label>
                    <input id="searchbar" name="sample_q" value="{{ view.request.GET.sample_q }}" type="text"/>
                    <input value="Search" type="Submit"/>
                </form>
            </div>
        </div>

    {{ dv }}

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'lims/js/data_view.js' %}"></script>
{% endblock %}
