{% extends "lims/base.html" %}

{% load static %}

{% block title %}Samples{% endblock %}

{% block content_title %}Recent Samples{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_sample_changelist' %}">Admin View</a></li>
        {% endif %}
        <li><a class="addlink" href="{% url 'lims:sample_add_bulk' %}">Bulk Add</a></li>
        <li><a class="addlink" href="{% url 'lims:sample_add' %}">Add Sample</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    <div id="viewlist">
        <div id="toolbar">
            <div>
                <form id="object-list-search">
                    <label for="searchbar">
                        <img src="{% static 'admin/img/search.svg' %}"/>
                    </label>
                    <input id="searchbar" name="sample_q" value="{{ view.request.GET.sample_q }}" type="text"/>
                    <input value="Search" type="Submit"/>
                </form>
            </div>
        </div>

    {% include 'lims/tables/sample_table.html' %}

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'lims/js/tables.js' %}"></script>
{% endblock %}
