
{% extends 'lims/base.html' %}

{% block title %}Templates{% endblock %}

{% block content_title %}Templates{% endblock %}

{% block object_tools %}
    <ul class="object-tools">
        {% if view.request.user.is_staff %}
             <li><a href="{% url 'admin:lims_entrytemplate_changelist' %}">Admin</a></li>
        {% endif %}
        <li><a class="addlink" href="{% url 'lims:sample_add_bulk' %}">Bulk</a></li>
        <li><a class="addlink" href="{% url 'lims:sample_add' %}">New</a></li>
    </ul>
{% endblock %}

{% block content_main %}

    {% if object_list %}

    <table class="template-list">
        <tr>
            <th>Template</th>
            <th>Fields</th>
        </tr>
    {% for template in object_list %}
        <tr>
            <td><a href="{% url 'lims:template_form' template.pk %}">{{ template }}</a></td>
            <td class="template-list-fields">
                {% for field in template.get_fields_queryset %}
                    {% if forloop.counter0 > 0 %}, {% endif %}
                    {% if field.term %}
                        <a href="{% url 'lims:term_detail' field.term.pk %}">{{ field }}</a>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form action="{% url 'lims:template_bulk' template.pk %}" method="GET">
                    Add <input name="n_samples" title="Add" type="text" size="3" value="5"/> samples
                    <input type="submit" value="Go"/>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

    {% else %}

        <p>There are no templates currently available.</p>

    {% endif %}


{% endblock %}
